<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{shoulder_fragment::head(title = 'EG進捗管理 - 進捗詳細')}"></div>

<body>

	<!-- ======= Header ======= -->
	<div th:replace="~{shoulder_fragment::header(reportDate = ${#dates.format(reportDate, 'yyyy-MM-dd')})}"></div>

	<main id="main" class="main">

		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-3">
					<div class="card">
						<div class="card-body pt-4">
							<div class="card-body profile-card d-flex flex-column align-items-center">
								<h2 th:text="${userProgressRatesDto.teamUsers.name}">山田太郎</h2>
								<h3 th:if="${userProgressRatesDto.teamUsers.githubAccount != null}">github：<a th:href="@{https://github.com/{githubAccount}(githubAccount=${userProgressRatesDto.teamUsers.githubAccount})}" target="_blank">[[${userProgressRatesDto.teamUsers.githubAccount}]]</a></h3>
							</div>
							<table class="table table-striped">
								<tbody>
									<tr>
										<th style="white-space: nowrap;">学習開始日</th>
										<td style="white-space: nowrap;" th:text="|${#dates.format(userProgressRatesDto.progressRatesMap.learningStartDate, 'yyyy-MM-dd')}（${userProgressRatesDto.progressRatesMap.elapsedDays} 日）|">2022-12-01（239 日）</td>
									</tr>
									<tr>
										<th style="white-space: nowrap;">終了予測</th>
										<td style="white-space: nowrap;" th:text="|${#dates.format(userProgressRatesDto.predictedEndDate, 'yyyy-MM-dd')}（+${userProgressRatesDto.predictedEndDuration} 日）|">2023-09-28（+62 日）</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">最終学習講座名</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td th:text="${userProgressRatesDto.lastAccessLesson.courseName}">シェルコマンド入門編</td>
									</tr>
									<tr>
										<td>[[${userProgressRatesDto.lastAccessLesson.lessonName}]]<br>【[[${userProgressRatesDto.lastAccessLesson.chapterName}]]】</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="card">
						<div class="filter">
							<form method="post" th:action="@{/reloadWeeklyStudyDuration/{teamUsersId}(teamUsersId=${userProgressRatesDto.teamUsers.id})}">
								<input type="hidden" name="reportDate" th:value="${#dates.format(reportDate, 'yyyy-MM-dd')}">
								<div class="row align-items-center">
									<div class="col-sm-4">
										週の学習時間
									</div>
									<label class="col-sm-5">
										<input type="text" name="weeklyStudyDuration" class="form-control col-lg-4" placeholder="未入力：10時間">
									</label>
									<div class="col-sm-3">
										<button type="submit" class="btn btn-primary">更新</button>
									</div>
								</div>
							</form>
						</div>
						<div class="card-body">
							<h5 class="card-title">課題終了目安</h5>

							<!-- Table with stripped rows -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">講座名</th>
										<th scope="col" style="width: 200px;">進捗率</th>
										<th scope="col">残学習時間（時）</th>
										<th scope="col">残学習時間の割合</th>
										<th scope="col">終了予測（進捗ペース）</th>
										<th scope="col">終了予測（週 [[${weeklyStudyDuration}]] 時間ペース）</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="taskCategoriesMap:${userProgressRatesDto.taskCategoriesMapList}">
										<th>[[${taskCategoriesMap.taskCategoriesName}]]（目安時間：[[${taskCategoriesMap.sumLearningHours}]]時間）</th>
										<td><b th:text="${taskCategoriesMap.progressRate != null ? taskCategoriesMap.progressRate + '%' : ''}">79.4%</b></td>
										<td th:text="${taskCategoriesMap.getRemainingHours()}">1.5</td>
										<td th:text="${taskCategoriesMap.progressEstimateRate != null ? taskCategoriesMap.progressEstimateRate + '%' : ''}">79.4%</td>
										<td style="white-space: nowrap;">[[${#dates.format(taskCategoriesMap.progressEstimateDate, 'yyyy-MM-dd')}]]（+[[${taskCategoriesMap.progressEstimateHours / 24}]] 日）</td>
										<td style="white-space: nowrap;">[[${#dates.format(taskCategoriesMap.weeklyTimeEstimateDate, 'yyyy-MM-dd')}]]（+[[${taskCategoriesMap.weeklyTimeEstimateHours / 24}]] 日）</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">想定学習推移</h5>

							<!-- Line Chart -->
							<div id="lineChart"></div>

							<script th:inline="javascript">
								document.addEventListener("DOMContentLoaded", () => {
									new ApexCharts(document.querySelector("#lineChart"), {
										series: /*[[${grafUserProgressRates.series}]]*/ '',
										annotations: /*[[${grafUserProgressRates.annotations}]]*/ '',
										chart: {
											height: 450,
											type: 'line',
											zoom: {
												enabled: false
											},
											defaultLocale: 'ja',
											locales: [{
												name: 'ja',
												options: {
													months: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
													shortMonths: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
													days: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
													shortDays: ['日', '月', '火', '水', '木', '金', '土'],
													toolbar: {
														download: 'Download SVG',
														selection: 'Selection',
														selectionZoom: 'Selection Zoom',
														zoomIn: 'Zoom In',
														zoomOut: 'Zoom Out',
														pan: 'Panning',
														reset: 'Reset Zoom',
													}
												}
											}]
										},
										colors: ['#87CEFA', '#008000'],
										dataLabels: {
											enabled: true,
											formatter: function(val, opt) {
												return `${val}%`;
											},
											style: {
												fontSize: '18px',
											},
										},
										stroke: {
											curve: 'straight'
										},
										grid: {
											row: {
												colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
												opacity: 0.5
											},
										},
										xaxis: {
											type: 'datetime',
											tickPlacement: 'between',
											labels: {
												format: 'MM/dd',
												datetimeFormatter: {
													year: 'yyyy',
													month: 'yyyy/MM/dd',
													day: 'yyyy/MM/dd',
													hour: 'HH:mm'
												}
											},
//											min: new Date('2023-08-10').getTime(),
//											max: new Date('2023-10-31').getTime(),
										},
										yaxis: {
											type: 'numeric',
											min: 0,
											max: 100,
											labels: {
												formatter: function (value) {
													return value + "%";
												}
											},
										},
										tooltip: {
											enabled: false,
											x: {
												format: 'MM/dd',
											}
										},
										legend: {
											position: 'top'
										}
									}).render();
								});
							</script>
							<!-- End Line Chart -->

						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">進捗詳細</h5>

							<!-- Table with stripped rows -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">講座ID.</th>
										<th scope="col">講座種別</th>
										<th scope="col">講座名</th>
										<th scope="col">レッスン名</th>
										<th scope="col">学習時間合計（時）</th>
										<th scope="col">学習時間実績（時）</th>
										<th scope="col" style="width: 120px;">進捗率</th>
										<th scope="col">最終受講日</th>
										<th scope="col" style="width: 200px;">オリジナル課題進捗率</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="userProgressRates:${userProgressRatesDto.userProgressRateDetailList}">
										<td scope="row" th:text="${userProgressRates.maxTasksId}">1</td>
										<td style="white-space: nowrap;" th:text="${userProgressRates.taskTypesId == 1 ? 'paiza' : 'オリジナル'}">paiza</td>
										<td style="white-space: nowrap;" th:text="${userProgressRates.courseName}">Java入門編</a></td>
										<td th:text="${userProgressRates.lessonName}">Java入門編1:プログラミングを学ぶ</td>
										<td th:text="${userProgressRates.sumTotalLearningHours}">6.65</td>
										<td th:text="${userProgressRates.sumAchievedLearningHours}">6.65</td>
										<td><b th:text="${userProgressRates.taskProgressRate != null ? userProgressRates.taskProgressRate + '%' : ''}">100.00%</b></td>
										<td style="white-space: nowrap;" th:text="${#dates.format(userProgressRates.chapterLastAccessDatetime, 'yyyy-MM-dd')}">2016-05-25</td>
										<td style="white-space: nowrap;">
											<div th:if="${userProgressRates.taskTypesId == 2}">
												<form class="row" method="post" th:action="@{/registRate/{teamUsersId}/{maxTasksId}(teamUsersId=${userProgressRatesDto.teamUsers.id},maxTasksId=${userProgressRates.maxTasksId})}" th:object="${requestTaskProgressRate}">
													<input type="hidden" name="reportDate" th:value="${#dates.format(reportDate, 'yyyy-MM-dd')}">
													<label class="col-sm-6">
														<input type="text" name="taskProgressRate" class="form-control col-lg-4" th:field="*{taskProgressRate}">
													</label>
													<div class="col-sm-4">
														<button type="submit" class="btn btn-primary">保存</button>
													</div>
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
				</div>
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:replace="~{shoulder_fragment::footer}"></div>

</body>

</html>