<!DOCTYPE html>
<html lang="ja">

<!-- ======= Head ======= -->
<div th:replace="~{shoulder_fragment::head(title = 'EG進捗管理 - 進捗詳細')}"></div>

<body>

	<!-- ======= Header ======= -->
	<div th:replace="~{shoulder_fragment::header(reportDate = ${#dates.format(reportDate, 'yyyy-MM-dd')})}"></div>

	<main id="main" class="main">

		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-3">
					<div class="card">
						<div class="card-body pt-4">
							<div class="card-body profile-card d-flex flex-column align-items-center">
								<h2 th:text="${userProgressRatesDto.teamUsers.name}">山田太郎</h2>
								<h3 th:if="${userProgressRatesDto.teamUsers.githubAccount != null}">github：<a th:href="@{https://github.com/{githubAccount}(githubAccount=${userProgressRatesDto.teamUsers.githubAccount})}" target="_blank">[[${userProgressRatesDto.teamUsers.githubAccount}]]</a></h3>
							</div>
							<table class="table table-striped">
								<tbody>
									<tr>
										<th style="white-space: nowrap;">学習開始日（経過日数）</th>
										<td style="white-space: nowrap;" th:text="|${#dates.format(userProgressRatesDto.progressRatesMap.learningStartDate, 'yyyy-MM-dd')}（${userProgressRatesDto.progressRatesMap.elapsedDays} 日）|">2022-12-01（239 日）</td>
									</tr>
									<tr>
										<th style="white-space: nowrap;">終了予測（学習終了予測日数）</th>
										<td style="white-space: nowrap;" th:text="|${#dates.format(userProgressRatesDto.predictedEndDate, 'yyyy-MM-dd')}（+${userProgressRatesDto.predictedEndDuration} 日）|">2023-09-28（+62 日）</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">最終学習講座名</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td th:text="${userProgressRatesDto.lastAccessLesson.courseName}">シェルコマンド入門編</td>
									</tr>
									<tr>
										<td>[[${userProgressRatesDto.lastAccessLesson.lessonName}]]<br>【[[${userProgressRatesDto.lastAccessLesson.chapterName}]]】</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="card">
						<div class="filter">
							<form method="post" th:action="@{/reloadWeeklyStudyDuration/{teamUsersId}(teamUsersId=${userProgressRatesDto.teamUsers.id})}">
								<input type="hidden" name="reportDate" th:value="${#dates.format(reportDate, 'yyyy-MM-dd')}">
								<div class="row align-items-center">
									<div class="col-sm-4">
										週の学習時間
									</div>
									<label class="col-sm-5">
										<input type="text" name="weeklyStudyDuration" class="form-control col-lg-4" placeholder="未入力：10時間">
									</label>
									<div class="col-sm-3">
										<button type="submit" class="btn btn-primary">更新</button>
									</div>
								</div>
							</form>
						</div>
						<div class="card-body">
							<h5 class="card-title">課題終了目安</h5>

							<!-- Table with stripped rows -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">講座名</th>
										<th scope="col" style="width: 200px;">進捗率</th>
										<th scope="col">残作業時間（時）</th>
										<th scope="col">終了予測（進捗ペース）</th>
										<th scope="col">終了予測（週 [[${weeklyStudyDuration}]] 時間ペース）</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="taskCategoriesMap:${userProgressRatesDto.taskCategoriesMapList}">
										<th>[[${taskCategoriesMap.taskCategoriesName}]]（目安時間：[[${taskCategoriesMap.sumLearningHours}]]時間）</th>
										<td><b th:text="${taskCategoriesMap.progressRate != null ? taskCategoriesMap.progressRate + '%' : ''}">79.4%</b></td>
										<td th:text="${taskCategoriesMap.getRemainingHours()}">2023-09-25（+61 日）</td>
										<td style="white-space: nowrap;">[[${#dates.format(taskCategoriesMap.progressEstimateDate, 'yyyy-MM-dd')}]]（+[[${taskCategoriesMap.progressEstimateHours / 24}]] 日）</td>
										<td style="white-space: nowrap;">[[${#dates.format(taskCategoriesMap.weeklyTimeEstimateDate, 'yyyy-MM-dd')}]]（+[[${taskCategoriesMap.weeklyTimeEstimateHours / 24}]] 日）</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">進捗詳細</h5>

							<!-- Table with stripped rows -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">講座ID.</th>
										<th scope="col">講座種別</th>
										<th scope="col">講座名</th>
										<th scope="col">レッスン名</th>
										<th scope="col">学習時間合計（時）</th>
										<th scope="col">学習時間実績（時）</th>
										<th scope="col" style="width: 120px;">進捗率</th>
										<th scope="col">最終受講日</th>
										<th scope="col" style="width: 200px;">オリジナル課題進捗率</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="userProgressRates:${userProgressRatesDto.userProgressRateDetailList}">
										<td scope="row" th:text="${userProgressRates.maxTasksId}">1</td>
										<td style="white-space: nowrap;" th:text="${userProgressRates.taskTypesId == 1 ? 'paiza' : 'オリジナル'}">paiza</td>
										<td style="white-space: nowrap;" th:text="${userProgressRates.courseName}">Java入門編</a></td>
										<td th:text="${userProgressRates.lessonName}">Java入門編1:プログラミングを学ぶ</td>
										<td th:text="${userProgressRates.sumTotalLearningHours}">6.65</td>
										<td th:text="${userProgressRates.sumAchievedLearningHours}">6.65</td>
										<td><b th:text="${userProgressRates.taskProgressRate != null ? userProgressRates.taskProgressRate + '%' : ''}">100.00%</b></td>
										<td style="white-space: nowrap;" th:text="${#dates.format(userProgressRates.chapterLastAccessDatetime, 'yyyy-MM-dd')}">2016-05-25</td>
										<td style="white-space: nowrap;">
											<div th:if="${userProgressRates.taskTypesId == 2}">
												<form class="row" method="post" th:action="@{/registRate/{teamUsersId}/{maxTasksId}(teamUsersId=${userProgressRatesDto.teamUsers.id},maxTasksId=${userProgressRates.maxTasksId})}" th:object="${requestTaskProgressRate}">
													<input type="hidden" name="reportDate" th:value="${#dates.format(reportDate, 'yyyy-MM-dd')}">
													<label class="col-sm-6">
														<input type="text" name="taskProgressRate" class="form-control col-lg-4" th:field="*{taskProgressRate}">
													</label>
													<div class="col-sm-4">
														<button type="submit" class="btn btn-primary">保存</button>
													</div>
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>
				</div>
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:replace="~{shoulder_fragment::footer}"></div>

</body>

</html>